*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

/* NAV */
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
background:#111827;
position:sticky;
top:0;
z-index:1000;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

nav a:hover{
color:#38bdf8;
}

/* LOGO */
.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
width:40px;
border-radius:8px;
}

/* HERO */
.hero{
text-align:center;
padding:70px 20px;
}

.profile-pic{
width:130px;
border-radius:50%;
border:3px solid #38bdf8;
}

/* BUTTONS */
.btn,.btn-outline{
padding:10px 15px;
border-radius:6px;
display:inline-block;
text-decoration:none;
margin:5px;
font-weight:bold;
}

.btn{
background:#38bdf8;
color:black;
}

.btn-outline{
border:2px solid #38bdf8;
color:#38bdf8;
}

/* SECTIONS */
section{
padding:60px 20px;
text-align:center;
}

/* SERVICES */
.service-container{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.service-card{
background:#1e293b;
padding:20px;
width:250px;
border-radius:10px;
}

/* PROJECTS */
.project-list{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.project{
background:#1e293b;
padding:20px;
width:250px;
border-radius:10px;
transition:0.3s;
}

.project:hover{
transform:translateY(-8px);
}

/* FORM */
form{
margin-top:20px;
display:flex;
flex-direction:column;
gap:10px;
max-width:300px;
margin-left:auto;
margin-right:auto;
}

input,textarea{
padding:10px;
border:none;
border-radius:5px;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#111827;
margin-top:30px;
}

/* WHATSAPP */
.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
padding:15px;
border-radius:50%;
font-size:20px;
text-decoration:none;
color:white;
}
